@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 600px;
        vertical-align: middle;
    }
}

@media {
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

}
